repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.7
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
    - id: registry
      additional_dependencies: ["pooch"]
      name: Update registry
      entry: python update_registry.py
      language: python
ci:
    # Don't run automatically on PRs, instead add the comment
    # "pre-commit.ci autofix" on a pull request to manually trigger auto-fixing 
    autofix_prs: false
